
.contact{
  margin-top: 27rem;
  padding: 4%;
  height: 400px;
  margin-bottom: 6rem;
}
.col-md-3{
  height: 37rem;
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}

.header-modal{
  padding-bottom: 2px;
  padding-top: 9px;
}
.header-modal-button{
  border-radius: 1rem;
}
.header-modal-button:hover{
  background-color: #0ab20a;
  color: #fff;
}

.modal-contact{
  display: flex;
  justify-content: space-between;
}
.search-navbar{
  display: flex;
  justify-content: end;
  align-items: center;
  justify-items: center;
  height: auto;
  padding: 12px 0px;
  color: white;
}


.search-result-categories>li>a {
  color: #b6b6b6;
  font-weight: 400
}

.search-result-categories>li>a:hover {
  background-color: #ddd;
  color: #555
}

.search-result-categories>li>a>.glyphicon {
  margin-right: 5px
}

.search-result-categories>li>a>.badge {
  float: right
}

.search-results-count {
  margin-top: 10px
}

.search-result-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px
}

.search-result-item:after,
.search-result-item:before {
  content: " ";
  display: table
}

.search-result-item:after {
  clear: both
}

.search-result-item .image-link {
  display: block;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  object-fit: scale-down;
  height: 18rem;
}

@media (min-width:768px) {
  .search-result-item .image-link {
    display: inline-block;
    margin: -20px 0 -20px -20px;
    float: left;
    width: 200px;
    object-fit: scale-down;
  height: 18rem;
  }
}

@media (max-width:767px) {
  .search-result-item .image-link {
    max-height: 200px
  }
}

.search-result-item .image {
  max-width: 100%;
  height: 18rem !important;
}

.search-result-item .info {
  margin-top: 2px;
  font-size: 12px;
  color: #999
}

.search-result-item .description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result-item+.search-result-item {
  margin-top: 20px
}

@media (min-width:768px) {
  .search-result-item-body {
    margin-left: 200px
  }
}

.search-result-item-heading {
  margin-bottom: 6px!important;
  font-weight: 400
}

.search-result-item-heading>a {
  color: #555
}

.search-result-item-title{
  font-size: 20px !important;
  color: black !important;
  font-weight: 600;
}
.search-result-item-title:hover{
  color: #1d73c5 !important;
}

@media (min-width:768px) {
  .search-result-item-heading {
    margin: 0
  }
}

