
.contact{
  margin-top: 27rem;
  padding: 4%;
  height: 400px;
  margin-bottom: 6rem;
}
.col-md-3{
  height: 37rem;
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}

.header-modal{
  margin-top: 1rem;
}
.header-modal-button{
  border-radius: 1rem;
}
.header-modal-button:hover{
  background-color: #0ab20a;
  color: #fff;
}

.modal-contact{
  display: flex;
  justify-content: space-between;
}