<footer id="footer">
    <div class="footer_top">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInLeftBig">
                    <h2>Flickr Images</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInDown">
                    <h2>Tag</h2>
                    <ul class="tag_nav">
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Life &amp; Style</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Photo</a></li>
                        <li><a href="#">Slider</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInRightBig">
                    <h2>Contact</h2>
                    <address>
                        Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
                    </address>
                    <div class="mt-3">
                        <p>Để lại email để nhận được những thông tin mới nhất</p>
                        <div class="mt-3">
                            <form action="/"  method="post">
                                <div class="d-flex justify-content-start input-group rounded" >
                                    <input type="email" class="form-control" placeholder="example@gmail.com" name="email" style="width: 190px;">
                                    <button type="submit" class="btn btn-info" style="width: 50px;"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p>Liên hệ với chúng tôi</p>
                        <div class="d-flex input-group bg-info mt-3" style="width: 300px;">
                            <div class="social_area" style="margin-left: 0;">
                                <ul class="social_nav" style="margin-left: 0;">
                                    <li class="facebook"><a href="https://web.facebook.com/Nakani3797/"></a></li>
                                    <li class="twitter"><a href="../user#"></a></li>
                                    <li class="flickr"><a href="../user#"></a></li>
                                    <li class="pinterest"><a href="../user#"></a></li>
                                    <li class="googleplus"><a href="../user#"></a></li>
                                    <li class="vimeo"><a href="../user#"></a></li>
                                    <li class="youtube"><a href="https://www.youtube.com/channel/UCSWQFDjfgf1NewG9E4DfopQ"></a></li>
                                    <li class="mail"><a href="../user#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <p class="copyright">Copyright &copy; 2045 <a href="index.html">NewsFeed</a></p>
        <p class="developer">Developed By Wpfreeware</p>
       
    </div>
</footer>