<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                <li><a href="#sport">sport</a></li>
                <li><a href="#weather">weather</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Nokia</a></li>
                        <li><a href="#">Walton Mobile</a></li>
                        <li><a href="#">Sympony</a></li>
                    </ul>
                </li>
                <li><a href="#food">food</a></li>
                <li><a href="#music">music</a></li>
                <li><a href="#movie">movie</a></li>
                <li><a href="#actor">actor</a></li>
                <li><a href="pages/contact.html">Contact Us</a></li>
            </ul>
            <div class="search-navbar">
                <form action="/search" method="get" class="">
                    <i class="ti-search text-white"></i>
                    <input type="search" name="search" id="search" style="color: black">
                    <input type="hidden" name="page" value="0">
                </form>
            </div>
        </div>
    </nav>
</section>