<div class="left-side-menu">
    <div class="user-box">
        <div class="float-left">
            <img src="assets\images\users\avatar-1.jpg" alt="" class="avatar-md rounded-circle">
        </div>
        <div class="user-info">
            <a href="#">Stanley Jones</a>
            <p class="text-muted m-0">Administrator</p>
        </div>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">
            <li>
                <a href="/">
                    <i class="ti-home"></i>
                    <span> Dashboard </span>
                </a>
            </li>

            <li>
                <a href="/users">
                    <i class="ti-user"></i>
                    <span> User </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>

            <li>
                <a href="/contacts">
                    <i class="ti-android"></i>
                    <span> Contact </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>
            <li>
                <a href="/news">
                    <i class="ti-paint-bucket"></i>
                    <span> News </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>
            <li>
                <a href="/catetorys">
                    <i class="ti-paint-bucket"></i>
                    <span> Catetory News </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>
            <li>
                <a href="/newsletter">
                    <i class="ti-comment"></i>
                    <span> NewsLetter </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>
            <li>
                <a href="/comments">
                    <i class="ti-comment"></i>
                    <span> Comments </span>
                    <span class="badge badge-primary float-right">11</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>


</div>