<div class="container-login">
    <form method="post" action="/login" class="form-login rounded">
        <h1 class="text-center h1-login">Login</h1>
        <div class="mb-3">
            <label for="username" class="form-label label-login">Username</label>
            <% if(loginName) {%>
            <input type="text" class="form-control" id="username" name="username" value="<%=loginName%>">
            <% } else{%>
                <input type="text" class="form-control" id="username" name="username" placeholder="vd: abc123">
                <% } %>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label label-login">Password</label>
            <input type="password" class="form-control" id="password" name="password"  placeholder="Enter your password">
        </div>
        <div class="text-center">
            <p class="text-secondary">Don't have an account? <a href="/signup" class="text-light ml-1 a-login"><b>Sign Up</b></a></p>
        </div>
        <div class="button-login">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
    
       
