<div class="body-signup">
    <div class="container-signup">
        <form method="post" action="/signup" class=".form-signup rounded">
            <h1 class="text-center h1-signup">Sign Up</h1>
            <div class="grid-container-signup mt-5">
                <div class="grid-item-signup item1-signup">
                    <input type="text" class="form-control" id="name" name="name" placeholder="FullName">
                </div>
                <div class="grid-item-signup item2-signup">
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="Tel">
                </div>
                <div class="grid-item-signup item3-signup">
                    <input type="email" class="form-control" id="Mail" name="Mail" placeholder="vd: abc123@gmail.com">
                </div>
                <div class="grid-item-signup item4-signup">
                    <input type="text" class="form-control" id="username" name="username" placeholder="UserName">
                </div>
                <div class="grid-item-signup item5-signup">
                    <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
                </div>
                <div class="grid-item-signup item6-signup">
                    <input type="text" class="form-control" id="Description" name="Description" placeholder="Description">
                </div>
                <div class="grid-item-signup item7-signup">
                    <input type="file" class="form-control" id="Image" name="Image" placeholder="vd: abc.jpg">
                </div>
                <div class="grid-item-signup item8-signup">
                    <input type="date" class="form-control" id="CreateAt" name="CreateAt">
                </div>
            </div>
            <div class="button-signup">
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
            </form>
    </div>
</div>